{% extends 'base.html' %}
{% block title %} Create New User {% endblock %}

{% block content%}
<h1>Create a User</h1>

{% for msg in get_flashed_messages() %} 
    <div class = "alert alert-danger">{{ msg }}</div>
{% endfor %}

<form action="/users/new" method= "POST">
    <div>
        <label>First Name</label>
        <input name= "first_name" type="text" placeholder="Enter a first name">
    </div>
    <div>
        <label>Last Name</label>
        <input name= "last_name" type="text" placeholder="Enter a last name">
    </div>
    <div>
        <label>Image URL</label>
        <input name= "image_url" type="url" placeholder="Enter an image URL for user">
    </div>
    <button class="btn btn-primary" type="submit" class="btn btn-primary">Add</button>
</form>

{% endblock %}