{% extends 'base.html' %}
{% block title %} Edit Post {% endblock %}

{% block content%}
<h1>Edit Post</h1>

<form action="/posts/{{post.id}}/edit" method= "POST">
    <div>
        <label for="title">Title</label>
        <input name= "title" type="text" value="{{post.title}}">
    </div>
    <div>
        <label for="content">Post Content</label>
        <input name= "content" type="text" value="{{post.content}}">
    </div>
    
    <a href="/posts/{{post.id}}" class="btn btn-secondary">Cancel</a>
    <button class="btn btn-success" type="submit" id="save_post_edit" class="btn btn-primary">Save</button>
</form>

{% endblock %}