{% extends 'base.html' %}
{% block title %} Add Post {% endblock %}

{% block content%}
<h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>

<form action="/users/{{user.id}}/posts/new" method= "POST">
    <div>
        <label for="title">Title</label>
        <input id="title" name= "title" type="text">
        <!-- Good to have input id be same as label or put input in label for accessibility -->
    </div>
    <div>
        <label for="content">Content</label>
        <input id="content" name= "content" type="text">
    </div>
    
    <a href="/user/{{user.id}}" class = "btn btn-secondary">Cancel</a>
    <button class="btn btn-success" type="submit" id="add_post" class="btn btn-primary">Add</button>
</form>

{% endblock %}