{% extends 'base.html' %}
{% block title %} {{post.title}} {% endblock %}

{% block content%}
<h1>{{post.title}}</h1>

<div>{{post.content}}</div>
<div>By <i>{{post.user.first_name}} {{post.user.last_name}}</i></div>

<a href="/users/{{post.user.id}}" class="btn btn-secondary">Cancel</a>
<a href="/posts/{{post.id}}/edit" class="btn btn-success">Edit</a>
<form action="/posts/{{post.id}}/delete" method="POST">
    <button type="submit" class= "btn btn-danger">Delete</button>
</form>

{% endblock %}